.header {
  background-color: #5ea4a4;
  background-image: url("./assets/images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards {
  background-color: #f0fafb;
}

.button {
  border-radius: 50%;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
